body {
	margin: 12px;
}
#banner {
}
#logo {
	float: left;
	width: 30%;
	padding-top: 10px;
}
#anniv {
	float: right;
	text-align: right;
}
#topNav {
}
#topNav a {
	color: #fff;
	text-decoration: none;
	padding: 0 6px;
}
.green {
	background: #bed73d url(../images/crv.gif) top left no-repeat;
	width: 360px;
	color: #fff;
	padding: 4px;
	text-align: right;
	margin-bottom: 2px;
}
#topNav .gray {
	background: #231f20;
	font: bold 8pt Arial, Helvetica, sans-serif;
	padding: 6px;
	border-bottom: 3px solid #ccc;
}
#topNav .linksLft {
	float: left;
	color: #bed73d;
}
#topNav .linksRt {
	float: right;
	color: #bed73d;
}
.srchfield {
	font: bold 8pt Arial;
	border: 1px solid #bed73d;
	text-indent: 30px;
	background: #fff url(../images/ico_search.gif) left center no-repeat;
	padding: 2px;
	width: 200px;
}
.srchbtn {
	font: bold 8pt Arial;
	border: 0;
	padding: 2px 10px;
	margin-right: 20px;
}
.btnLogin {
	color: #fff;
	background: #000;
	padding: 3px 10px;
	border-top: 1px solid #343233;
	border-left: 1px solid #343233;
	margin-right: 16px;
}
form {
	margin: 0;
}